name: docker-githubactions-ci
on: push
jobs:
  dockerci-job:
    runs-on: ubuntu-latest
    steps:
      - name: code-checkout
        uses: actions/checkout@v6

      - name: build-image
        run: docker build -t ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1 .

      - name: docker-image-list
        run: docker images

      - name: docker-login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: docker-image-pushing
        run: docker push ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1
