name: docker-githubactions-ci
on:
  push:
    paths-ignore:
      - 'README*'
      - 'CONTRIBUTION*'
      - 'LICENSE*'
jobs:
  dockerci-job:
    runs-on: ubuntu-latest
    steps:
      - name: code-checkout
        uses: actions/checkout@v6

      - name: build-image
        run: docker build -t ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1 .

      - name: docker-image-list
        run: docker images

      - name: create-container
        run: docker run --name demo-python-app -idt -p 8000:8080 ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1

      - name: check-container-status
        run: docker ps

      - name: sleeping-for-time
        run: sleep 20

      - name: checking-container-using-curl
        run: curl -f http://localhost:8000

      - name: docker-login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: docker-image-pushing
        run: docker push ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1

      - name: container-cleanup
        run: docker rm -f demo-python-app

  k8scd-job:
    runs-on: ubuntu-latest
    needs: [dockerci-job]
    steps:
      - name: code-checkout
        uses: actions/checkout@v6

      - name: start minikube
        uses: medyagh/setup-minikube@latest

      - name: test-minikube
        run: kubectl get pods -A
        
      - name: apply-yaml-files
        run: |
          kubectl apply -f k8s/.
          sleep 10
          kubectl config set-context --current --namespace=python-app
          kubectl wait --for=condition=ready pod -l app=myapp-demo

      - name: get-status-deployments
        run: | 
          kubectl get ns
          kubectl get deploy,service -n python-app

      - name: Test service URLs
        run: |
          minikube service list
          minikube service my-service --url
          echo -n "------------------opening the service------------------"
          curl -f $(minikube service my-service --url)
